{% extends "base.html" %}
{% block title %}One Traveler | Dicas{% endblock %}

{% block page_content %}
<div class="card-body p-5">
    <B><h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">#5 Dicas de Planejamento de Viagem - Peru</h1></B>
    <p class="lead">
          <p>
            Organizar uma viagem por conta própria não é fácil. Organizar uma viagem para o Peru, então, exige um pouco mais de dedicação, pois são muitas variáveis: moeda, soroche, estradas ruins, tickets e boletos, trens, malas, guias, passagens, etc. Pensando nisso e lembrando dos perrengues que encontramos ao planejar cada um de nossos itinerário pelo país, listei aqui as 5 principais dicas para montar uma viagem perfeita para o Peru.
            


          </p>

          <div class="card bg-dark text-white">
            <img class="card-img" src="{{ url_for('static', filename='img/img59.jpeg') }}" alt="Card image">
            <div class="card-img-overlay">
              <h5 class="card-title">Plaza de Armas de Arequipa</h5>
              <p class="card-text"></p>
              <p class="card-text"></p>
            </div>
          </div>
          <br>

          <p>
            <a class="btn" href="#"></a>
          </p>
          <dl>
            <dt id="teste"><h4><b >
              Dica #1: Defina o seu perfil de viajante
            </dt></h4></b>
            <dd>
              O Peru é um país cheio de atrações interessantes que vão muito além de Machu Picchu. Ele tem roteiros, cidades, hotéis, programas, restaurantes, enfim, praticamente tudo para todo mundo. Não é à toa que é um dos destinos mais visitados e almejados da América Latina.<br><br>
              <b>
              Quer um mochilão com os amigos?</b><br>
              O Peru é perfeito pra você.<br><br>

               <b>Quer uma viagem mais tranquila, com conforto?</b><br>
              O Peru tem.<br><br>

               <b>Quer fazer uma viagem rápida no feriado?</b><br>
              O Peru pode entrar na sua lista.<br><br>

               <b>Tem 20 dias pra investir em uma viagem?</b><br>
              O Peru não vai te entediar.<br><br>

               <b>Quer conhecer os Incas, sua história e sua cultura?</b><br>
              Você precisa ir ao Peru.<br><br>

               <b>Gosta de trilhas?</b>
              Voilá, que tal ir para o Peru?<br><br>
            </dd>
            <dt id="teste1"><h4><b>
              Dica #2: defina seu roteiro antes de comprar a passagem aérea
            </dt></h4></b>
            <dd>
              
              Ficar um dia a mais em Machu Picchu ou no Valle Sagrado porque você otimizou seus deslocamentos não tem preço!<br><br>

              Pode parecer bobagem, mas ao decidir de antemão quais cidades quer visitar, você consegue comprar passagens multidestinos ou entre várias cidades, ou seja, você começa a viagem por uma cidade e volta por outra. E isso pode te poupar duas coisas preciosas: tempo e dinheiro.<br><br>

              Ao colocar todos os trechos aéreos no mesmo bilhete internacional (incluindo a ida de Lima para Cusco, por exemplo), você garante que a franquia de bagagem do voo internacional será válida para o trecho interno. Além disso, em caso de atraso ou cancelamento que interfira no voo seguinte, a cia aérea terá obrigação de te realocar num trecho seguinte sem que você tenha de pagar nada a mais por isso.<br><br>

              Note que essas vantagens não existem quando os voos são comprados separadamente, mesmo que sejam operados pela mesma empresa. Ou seja, se por um acaso seu voo de Cusco para Lima atrasar, você pode perder o a volta para o Brasil e terá de pagar pela mudança de passagem.<br><br>
            </dd>

            <dt id="teste2"><h4><b>
              Dica #3: se prepare para os efeitos da altitude e do soroche
            </dt></h4></b>
            <dd>
              Se você vai para Cusco, Valle Sagrado, Puno, Valle del Colca, Huaraz ou mesmo Arequipa, não subestime os efeitos da altitude e vá com calma nos primeiros dias.<br><br>

              Descanse no dia da chegada, coma comidas mais leves, evite caminhadas muito longas ou subidas muito íngremes; tenha uma lata de OxiShot numa mão e folhas de coca na outra (elas têm gosto terrível, mas mastigá-las ajuda e MUITO contra os efeitos da altitude). Se quiser levar algum medicamento, por favor, consulte seu médico para não ter nenhuma reação indesejada.<br><br>

              Recomendo também que você monte um roteiro que comece leve e vá ficando mais intenso com o passar dos dias, para dar tempo para o seu corpo se aclimatar com essas condições.<br><br>

              Todas as informações que você precisa saber sobre o mal de altitude e dicas de como amenizar esse efeito estão no texto: Mal de altitude: como prevenir o soroche em Cusco.<br><br>
            </dd>
            <dt id="teste3"><h4><b>
              Dica #4: viaje de ônibus
            </dt></h4></b>
            <dd>
              Se você está procurando destinos, voos baratos, os melhores locais para se hospedar, descontos ou dicas para a sua viagem, você está no lugar certo! Aqui no site disponibilizamos para você todas as informações necessárias para que a sua viagem possa se tornar a melhor experiência da sua vida, tudo isso com segurança, comodidade e pelo melhor preço possível, seja mais um traveler, embarque conoscp nesta viagem!<br><br>
            </dd>
            <dt><h4 id="teste4"><b>
              Dica #5 (adoro essa!): prove a comida local
            </dt></h4></b>
            <dd>
              Uma das coisas mais legais de se fazer no Peru é provar a comida local. Cevice, ají de gallina, tacu tacu, lomo saltado, cuy, pisco sour, chicha morada… Prove tudo o que puder, pois essa é uma das grandes maravilhas de se viajar: experimentar os pratos típicos e conhecer os costumes de cada lugar.<br><br>
            </dd>
          </dl>
        </div>

        <section id="tabs" class="project-tab">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <nav>
                          <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                              <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" role="tab" >Resumo das Dicas</a>
                          </div>
                      </nav>
                      <div class="tab-content" id="nav-tabContent">
                          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                              <table class="table" cellspacing="0">
                                  <thead>
                                      <tr>
                                          <th>Número</th>
                                          <th>Dica</th>
                                          <th>Voltar para dica</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td><a>1</a></td>
                                          <td>Defina o seu perfil de viajante</td>
                                          <td><a href="#teste">Link aqui</a></td>
                                      </tr>
                                      <tr>
                                          <td><a>2</a></td>
                                          <td>Defina seu roteiro antes de comprar a passagem aérea</td>
                                          <td><a href="#teste1">Link aqui</a></td>
                                      </tr>
                                      <tr>
                                          <td><a>3</a></td>
                                          <td>Se prepare para os efeitos da altitude e do soroche</td>
                                          <td><a href="#teste2">Link aqui</a></td>
                                      </tr>
                                      <tr>
                                          <td><a>4</a></td>
                                          <td>Viaje de ônibus</td>
                                          <td><a href="#teste3">Link aqui</a></td>
                                      </tr>
                                      <tr>
                                          <td><a>5</a></td>
                                          <td>Prove a comida local</td>
                                          <td><a href="#teste4">Link aqui</a></td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                          
                      </div>
                  </div>
              </div>
          </div>
      </section>

{% endblock %}