{% extends "base.html" %}
{% block title %}One Traveler | Machu Picchu{% endblock %}

{% block page_content %}
<div class="card-body p-5" align="center">
    <h2 align="center">
      A Extraordinária Cidade Perdida dos Incas:
      <BIG><b >Machu Picchu!</b></BIG>
      </h2>       
</div>
<header align="center">
  <div align="center" class="overlay"></div>
  <video align="center" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source align="center" src="{{ url_for('static', filename='img/mp.mp4') }}" type="video/mp4">
  </video>
</header>
<section class="my-5">
  <div class="container">
  </div>
</section>

<div class="container">
<div class="card border-0 shadow my-5">
<div class="card-body p-5">
  <B><h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Conheça 7 Experiências Incríveis em Machu Picchu</h1></B>
  <p class="lead">
        <p>
          Que Macchu Picchu é incrível todos ja sabem, mas mostraremos aqui 7 experiências incríveis e únicas que você pode ter ao visitar a Cidade Perdida dos Incas. Além das experiências turísticas e espirituais mais conhecidas, a viagem a Machu Picchu, no Peru, reserva cenários e possibilidades ainda pouco explorados por boa parte dos turistas.</p>

          <p> São trilhas com paisagens deslumbrantes, desafios que se transformam em vitórias pessoais — tudo alinhado ao bem-estar proporcionado pela prática de atividade física ao ar livre e com rotas que proporcionam maneiras alternativas de chegar até a cidade perdida dos incas.</p>

          <p>Com o objetivo de introduzir você nesse universo, selecionamos neste post 7 dicas imperdíveis que possibilitam experiências incríveis e que vão marcar pra sempre a viagem e sua vida, além de duas dicas sobre cuidados a se tomar na altitude dessa região peruana. Interessado? Então embarque nessa!</p>
        </p>
        <p>
          <a class="btn" href="#"></a>
        </p>
        <dl>
          <dt><h4><b>
            #1: Trilha Salkantay
          </dt></h4></b>
          <dd>
            Para os apaixonados por trekking, não existe rota mais favorável do que a trilha de Salkantay, situada a 6.271 metros do nível do mar. A travessia tem trechos de esforços intermediários a fortes.<br><br>

            E são necessários cinco dias e quatro noites para completar o percurso, considerado pela revista National Geographic Adventure Travel como uma das 25 melhores trilhas do mundo. Ou seja, trata-se de uma experiência inesquecível, com cenários que compensam o esforço.<br><br>

            Prepare-se e leve também roupas adequadas, já que a temperatura varia de -5Cº a 26Cº. Andando distâncias de 15km a 25km salkantay-lodges-5por dia, a rota conta com caminhos recheados da riqueza das montanhas, com toda a diversidade da flora e fauna da região — sem falar na simpatia e riqueza cultural dos povoados ao longo do percurso.<br><br>

            Existem duas maneiras de se fazer esta trilha. Acampando com todo o apoio logístico de equipamentos para tal, carregadores, guia e afins e a outra é usufruindo do conforto da estrutura e degustando da gastronomia refinada do Mountains Lodges Peru.<br><br>
          </dd>
          <dt><h4><b>
            #2: Lares – Vale Sagrado dos Incas
          </dt></h4></b>
          <dd>
            
            Criado pela Mountain Lodges of Peru (MPL), o roteiro exige uma aclimatação com a altitude de pelo menos um dia em Cusco.<br><br>

            Depois, é cair de vez na estrada em uma caminhada que reservará momentos de volta ao passado nas visitas aos sítios arqueológicos, como de Ollantaytambo, Písac e Machu Picchu.<br><br>

            Mas a maior expectativa é quanto a chegada em Lares, com uma paisagem andina marcante e ainda pouco explorada pelos viajantes de plantão.<br><br>

            A sensação é de chegar a um destino que se manteve intacto ao longo dos séculos, com uma serenidade percebida tanto nos moradores locais quanto nos cenários que se apresentam.<br><br>

            Observar o tear nas hábeis mãos das mulheres ou a lida com a agricultura de subsistência, assim como o trato com os gados, lhamas e alpacas remete a um mundo mais humano e totalmente integrado à natureza.<br><br>  

            Há níveis diferentes de trilhas e você poderá escolher a que mais te atrai, podendo caminhar de 2 horas a 7 horas por dia, de acordo com seu condicionamento físico.<br><br> 

            E o melhor, há confortáveis acomodações ao longo do percurso, com experiências incríveis para sua viagem, como banheiras de hidromassagem a céu aberto. Confira o pacote Lares e se puder ir nos próximos meses, opte pelas saídas promocionais.<br><br>
          </dd>

          <dt><h4><b>
            #3: Trila Inca Clássica
          </dt></h4></b>
          <dd>
            O “Camino Inca” é o roteiro clássico para quem deseja chegar a Machu Picchu caminhando. Por isso, é também o mais concorrido. É aconselhável fazer a reserva para essa trilha com pelo menos 6 meses de antecedência.<br><br>

            Nesse roteiro, os caminhantes chegam a Machu Picchu pela Porta do Sol — ou Inti Punku, na língua quéchua. Chegar à Porta do Sol bem cedo e aguardar a alvorada é presenciar um espetáculo. Os primeiros raios de luz entram pelo portal, para encher de cor a cidade sagrada.<br><br>

            Partindo de Cusco de ônibus, os caminhantes são levados até o quilômetro 82, onde começa o trajeto a pé. Os pernoites são feitos em acampamentos bem estruturados, montados por guias que se adiantam na caminhada para armar as barracas e preparar as refeições.<br><br>

            Nesse percurso, estão previstas entre 6 e 8 horas de caminhada por dia entre paisagens de selva e de altitude.<br><br>

            A Trilha Inca Clássica é percurso mais conhecido e procurado pelos turistas, tem cerca de 43km de extensão percorridos em 4 dias e 3 noites. Se você ficou sem fôlego só de ler, fique ligado na próxima dica de viagem, que traz uma opção mais curta de trajeto.<br><br>
          </dd>
          <dt><h4><b>
            #4: Trilha Inca Curta
          </dt></h4></b>
          <dd>
            Para quem não dispõe de muito tempo, ou quer uma caminha um pouco mais leve, a melhor pedida é a Trilha Inca Curta, que pode ser feita em um só dia até Machu Picchu, mas recomenda – se um pernoite em Águas Calientes para poder visitar a cidadela de Machu Picchu com mais calma no dia seguinte.<br><br>

            A primeira parte do percurso é feita de trem, partindo da estação de Ollantaytambo até o quilômetro 104. De lá, são cerca de 16km até Machu Picchu, passando por Wiñayhuayna e Inti Punku.<br><br>

            Após o pernoite em Aguas Calientes, o segundo dia é dedicado à visita guiada a Machu Picchu.<br><br>
          </dd>
          <dt><h4><b>
            #5 Aguas Calientes
          </dt></h4></b>
          <dd>
            Cidade base para quem quer conhecer Machu Picchu, Águas Calientes merece uma pernoite. Sabe por qual motivo? É o que vamos explicar agora!<br><br>

            A estadia vai te assegurar mais tranquilidade no passeio, dando a oportunidade para curtir um pôr do sol nas ruínas dos incas, um dos momentos mais esperados pelos viajantes e dispensará a necessidade de toda a correria e preocupação para pegar logo o trem de retorno a Cusco.<br><br>

            Além disso, no dia seguinte, por estar pernoitando ali bem perto do sítio arqueológico, você chegará na cidadela de Machu Picchu antes dos turistas que vem de Cusco ou mesmo do Vale Sagrado e poderá desfrutar do local com menos gente a sua volta. Quando retornar a Cusco no fim deste dia, seu corpo estará mais descansado.<br><br>
          </dd>
        </dl>

      <div class="card bg-dark text-white">
      <img class="card-img" src="{{ url_for('static', filename='img/img76.jpeg') }}" alt="Card image">
      <div class="card-img-overlay">
        <h5 class="card-title">Machu Picchu</h5>
        <p class="card-text"></p>
        <p class="card-text"></p>
      </div>
    </div>
    <br>
</div>

{% endblock %}